* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

nav {
    background-color: #000000;
    color: #818181;
    height: 50px;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 15px;
    font-size: 14px;
}

.prdct1-detail-position {
    position: absolute;
    top: 90px;
    right: 500px;
}