* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

body {
    background-color: #000000;
}

nav {
    background-color: #000000;
    color: #818181;
    height: 50px;
}

.nav {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 15px;
    font-size: 14px;
}

ul {
    list-style:none ;
}

.prdct1-detail-position {
    position: absolute;
    top: 90px;
    right: 500px;
}

.prdct3-detail-position-main {
    position: relative;
}

.prdct3-detail-position {
    position: absolute;
    top: 550px;
    right: 500px;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
    top: 0;
    right: 200px;
}